<div class="page-header">
  <h1 style="font-style: italic;">Rss links</h1>
</div>
<table class="table table-bordered table-striped ">
  <thead>
    <tr>
      <th>Title</th>
      <th>Rss Page link</th>
      <th>Rss Url</th>
      <th>Description</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @rss_links.each do |rss_link| %>
      <tr>
        <td><%= link_to rss_link.title, rss_link_path(rss_link) %></td>
        <td><%= link_to "Go to Feed Page", rss_link.home_url, target: :blank %></td>
        <td title="<%= rss_link.url %>"><%= truncate(rss_link.url, length: 20) %></td>
        <td title="<%= rss_link.description %>"><%= truncate(rss_link.description, length: 50) %></td>
        <td><%= rss_link.category.name %></td>
        <td>
          <%= link_to "Edit",
                      edit_rss_link_path(rss_link), :class => 'btn btn-success btn-mini' %>
          <%= link_to "Delete",
                      rss_link_path(rss_link),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add New Rss", new_rss_link_path, :class => 'btn btn-primary' %>
