= content_for :js do
  = javascript_include_tag "news_feeds"
  = javascript_tag("setTimeDelta('#{Time.now.getutc.iso8601}');")
  :javascript
    news_feeds = jQuery.parseJSON("#{j(@news_feeds.to_json)}");
    lists = jQuery.parseJSON("#{j(@recent_lists_json)}");